{% load static %}
<!DOCTYPE html>
<html>
	<head><link src="my.css" rel="stylesheet">
	<body style="background-color:lightgray; ">
		<form method="post" action="/">
		{% csrf_token %}
			City: <input type="text" id="city" name="stuff"/><br/>
			User: <input type="text" id="user" name="owner"/><br/>
			<input type="submit" id="submit-button" disabled>
		</form>
		<p id="new-city-state"></p>
				<br>
		<script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
		<div id="result-table"></div>
		<br>
		<br>
		<div id="error" style="background-color:black; width:200px;">
			<p style="color:red;">Error</p>
			<p style="color:red;" id="error-state"></p>
		</div>
		<p>Type user to filter by username</p>
		<script src="{% static 'js/script.js' %}"></script>
	</body>
	</html>

 <!--Implement response for statuses from views.py--!>